﻿@model IEnumerable<StudentExam.ViewModel.StudentMarksModel>



<table class="table table-condensed" style="width:50%">
    <thead>
        <tr>
            <th>SL</th>
            <th>Subject</th>
            <th>Total Marks</th>
            <th>Marks Obtained</th>
            <th>Percentage</th>


        </tr>
    </thead>
    <tbody>
        @{int SL = 1;
        foreach (var item in Model)
        {
            <tr>
                <td>@SL</td>
                <td>@item.SubjectName</td>
                <td>@item.TotalMarks</td>
                <td>@item.MarksObtained</td>
                <td>@item.Percentage</td>
          
            </tr>
            SL+= 1;
            }
        }
    </tbody>
</table>
