﻿@using StudentExam.ViewModel
@model  StudentMasterViewModel
@{
    ViewBag.Title = "Index";
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

       

        $("#btnAddToList").click(function () {

            AddMarksIntoTable()
        })


        $('#btnSave').click(function () {

            var _studentValidation = StudenFieldValidation();

            if (_studentValidation == false) {
                return;
            }
            AddStudentMarksintoDatabase();
            //tt
        })

        //End of btnSave Click Event
        function AddMarksIntoTable() {
            
            var marksTable = $("#tableStudentMarks");
            var subjectId = $("#ddSubject").val();
            var subject = $("#ddSubject option:selected").text();
            var totalMarks = $("#txtTotalMarks").val();
            var marksObtained = $("#txtMarksObtained").val();
            var percentage =  Math.round((parseInt(marksObtained) / parseInt(totalMarks)) * 100,2);
 

            //Start Validation Part 
            // Check validation of Student Info, Marks, Duplicate Subject

            if (MarksValidation() == false) {
                return;
            }
            

            //checkd Duplicate Subject
            var checkDuplicate = FindDuplicate(marksTable,subjectId);
            if (checkDuplicate == true) {
                alert("There is found duplicate subject in the Marks Table");
                return;
            }

            // End The Section of Validation Part


            var slNo = $("tr").length; // For Product Serial No Count Total Row No
             

            var array = [subjectId,slNo, subject, totalMarks, marksObtained, percentage]
            var rowsValue ="<tr>"
            rowsValue+= AddTableColumnDynamaccally(array) // "<tr> <td> " + subject + " </td> <td>" + totalMarks + " </td> <td>" + marksObtained + " </td> <td>" + percentage + " </td> <td><input type='button' class='btn btn-danger' onclick='removeMarks(" + subjectId + ")' value='Remove' name='remove'/></td></tr>";
                rowsValue += "<td><input type='button' class='btn btn-danger' onclick='removeMarks(this)' value='Remove' name='remove'/></td></tr>"
            $(marksTable).append(rowsValue);
                    //ResetMarks(); //Reset Function Call

        }        
        // End Of AddMarksIntoTable function




        function FindDuplicate(tableName, findvalue){
            
            var findtr = $(tableName).find("tbody").find("tr")
            
            var checkval=false
            $.each(findtr, function () {
                var tdvalue=$(this).find("td:eq(0)").text();

                if(findvalue==tdvalue){
                    checkval=true;
                }
                    
                })
                
            return checkval;
         
            
        }
        //End the Section of FindDuplicate Function





        // Check Student Information Validation
        function StudenFieldValidation() {
            var studentName = $('#txtName').val();
            var className = $('#txtClassName').val();
            var rollNumber = $('#txtRollNumber').val();
            var ExTerm = $('#cmbExam option:selected').text();
            

            if (studentName == '') {
                alert('Student Name Is Required')
                $('#txtName').focus();
                return false
            }

            if (className == '') {
                alert('Class Name Is Required')
                $('#txtClassName').focus();
                return false
            }

            if (rollNumber == '') {
                alert('Roll Number Is Required')
                $('#txtRollNumber').focus();
                return false
            }

            if (ExTerm == '') {
                alert('Exam Term Is Required')
                $('#cmbExam option:selected').focus();
                return false
            }

            return true;

        }

        // End Of StudentValidation Field


        //Add td in tr dynamaclly 
        function AddTableColumnDynamaccally(val) {

            var colval = $(val).splice(",");
            
            var rowtd = "";
            $.each(colval, function (index,val) {

                if (index != 0) {

                    rowtd+="<td>" + this + "</td>"
                    
                }
                else
                {
                    rowtd += "<td hidden>" + this + "</td>"
                }
            })

             
            return rowtd;

        }
        // End of AddTableColumnDynamaccally

        // chekck for marks validation field
        function MarksValidation() {


            var marksTable = $("#tableStudentMarks");
            var subjectId = $("#ddSubject").val();
            var subject = $("#ddSubject option:selected").text();
            var totalMarks = $("#txtTotalMarks").val();
            var marksObtained = $("#txtMarksObtained").val();
            var percentage = Math.round((parseInt(marksObtained) / parseInt(totalMarks)) * 100, 2);


            var valcheck = true

        
            if (subject == '') {
                return false;
            }


               if (totalMarks == 0 || totalMarks == '') {
                alert("'Total Marks' Will not be '0' or blank")
                $("#txtTotalMarks").focus();
                return false
            }

               else if (parseInt(totalMarks) < parseInt(marksObtained)) {
                alert("'Total Marks' Can Not Be lesser Than 'Marks Obtained'")
                $("#txtMarksObtained").focus();
                return false
               }

               if (marksObtained <= 0 || marksObtained=='') {
                   alert("Marks Obtained Should Be Greater Than ='0'")
                   $("#txtMarksObtained").focus();
                   return false
               }
         

               return valcheck
        


        }
        //end of Validation function


        //Starting Resst Section

        function ResetAllFunction() {
            ResetStudentInfoField();
            ResetMarks();
        }


        function ResetStudentInfoField() {
        

            $('#txtName').val('');
          $('#txtClassName').val('');
          $('#txtRollNumber').val('');
          $('#cmbExam').val(1);

          $("#tableStudentMarks").find("tbody").find("tr").remove()

        }

        function ResetMarks() {
            $("#ddSubject").val(1);
            $("#txtTotalMarks").val(0);
            $("#txtMarksObtained").val(0);
        }
        //ENd of All the Reset Function 


  


        

        function AddStudentMarksintoDatabase() {
                    var objStudentViewModel = {};
                    var ListOfStudentMarks = [];
                    objStudentViewModel.StudentName=$('#txtName').val();;
                    objStudentViewModel.ClassName = $('#txtClassName').val();
                    objStudentViewModel.ExamId = $('#cmbExam').val();
                    objStudentViewModel.RollNumber = $('#txtRollNumber').val();
      

                    var tabletr = $("#tableStudentMarks").find("tbody").find("tr")
                    $.each(tabletr, function () {
                        var StudentMarks = {};
                        StudentMarks.SubjectId=$(this).find("td:eq(0)").text();
                        StudentMarks.TotalMarks=$(this).find("td:eq(3)").text()
                        StudentMarks.MarksObtained=$(this).find("td:eq(4)").text()
                        StudentMarks.Percentage = $(this).find("td:eq(5)").text()
                        ListOfStudentMarks.push(StudentMarks);
                    })

                    objStudentViewModel.ListOfStudentMarks = ListOfStudentMarks
            

                    $.ajax({
                        async:true,
                        type:"POST",
                        dataType: "JSON",
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(objStudentViewModel),
                        url: '@Url.Action("index", "Home")',
                        success:function(data){
                            if (data.Status == true) {
                                alert(data.message);
                                ResetAllFunction(); // Call Reset function to clear form
                            }
                        },
                        error: function(){
                            alert("There is some problem in data processing request.")
                        }


                    })

                }
        //End of function AddStudentMarksintoDatabase



        //Test Function Array 

        //$('#btnvalid').click(function () {

        //    var blncheck = Valid();
        //    var t=blncheck.splice(",")

        //    $.each(t, function () {
        //        alert(this)
        //    })
        //    alert("test")

            
        //})
        
        //function Valid() {

        //    var testvar = ['Rana','Mou','Hena','Salim','Suman','Rasel']
        //        return testvar;
        //    }


       
       
    })



    function removeMarks(rowval) 
    {
        $(rowval).closest("tr").css({
            "background": "red",
            "color":"white"
        })
    if(confirm("Do You Want To Delete The Row")){
        $(rowval).closest("tr").remove();
    }

    $(rowval).closest("tr").css({
        "background": "white",
        "color": "black"
    })

    }
    function StudentMarks(studentid,btn){
        
        var row = $(btn).closest("tr").find("td:eq(1)").text();
        $('#StudentMarkSheet').text(row + "'s: Mark Sheet")
 



        $.ajax({
            async: true,
            contentType: 'application/json; charset=utf-8',
            data: {studentId: studentid},
            type: 'GET',
            dataType: 'HTML',
            url:'@Url.Action("StudentMarks","Home")',
            success: function (data) {
                $('#divStudentMarks').html(data);
            },
            error: function () {
                alert('There is some probel in get ajax method')
            }


        })
    }

    //// End Of removeMarks function
</script>



<h3>Student Marks</h3>






@*<button type="button" id="btnvalid" class="btn btn-default">Check Validation</button>*@
<button type="button" class="btn btn-info btn-lg" data-target="#myModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">Student Marks</button>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header label-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white">Student Result</h4>
            </div>
            <div class="modal-body">
              <div class="container">
                  <div class="form-group col-md-6">
                      @Html.LabelFor(x => x.Name)
                      @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "txtName" })
                  </div>
                  <div class="form-group col-md-6">
                      @Html.LabelFor(x => x.Class)
                      @Html.TextBoxFor(x => x.Class, new { @class = "form-control", id = "txtClassName" })
                  </div>
                  <div class="form-group col-md-6">
                      @Html.LabelFor(x => x.RollNumber)
                      @Html.TextBoxFor(x => x.RollNumber, new { @class = "form-control", id = "txtRollNumber" })
                  </div>
                  <div class="form-group col-md-6">
                      @Html.LabelFor(x => x.ExamId)
                      @Html.DropDownListFor(x => x.ExamId, Model.ListOfExams, new { @class = "form-control", id = "cmbExam" })
                  </div>
                  <fieldset>
                      <legend>Student Marks</legend>
                    
                      
                          <div class="form-group col-md-4">
                              @Html.LabelFor(x => x.SubjectId)
                              @Html.DropDownListFor(x => x.SubjectId, Model.ListOfSubject, new { @class = "form-control", id = "ddSubject" })
                          </div>
                          <div class="form-group col-md-4">
                              @Html.LabelFor(x => x.TotalMarks)
                              @Html.TextBoxFor(x => x.TotalMarks, new { @class = "form-control", id = "txtTotalMarks" })
                          </div>
                          <div class="form-group col-md-4">
                              @Html.LabelFor(x => x.MarksObtained)
                              @Html.TextBoxFor(x => x.MarksObtained, new { @class = "form-control", id = "txtMarksObtained" })
                          </div>
                          <div class="form-group col-md-12">
                              <input id="btnAddToList" style="float:right" type="button" class="btn btn-danger" name="addtolist" value="Add To List" />
                          </div>

                          <table class="table table-condensed" style="width:100%" id="tableStudentMarks">
                              <thead>
                                  <tr>
                                      
                                      <th hidden>SubjectID</th>
                                      <th>SL</th>
                                      <th>
                                          Subject
                                      </th>
                                      <th>
                                          Total Marks
                                      </th>
                                      <th>
                                          Marks Obtained
                                      </th>

                                      <th>
                                          Percentage
                                      </th>

                                      <th>
                                          Action
                                      </th>
                                  </tr>
                              </thead>
                              <tbody></tbody>
                          </table>
                      
                  </fieldset>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">Save</button> &nbsp;
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnClose">Close</button> &nbsp;

            </div>
        </div>
    </div>
</div>
<hr />
<fieldset>
    <legend>Student Details</legend>
    <table class="table table-condensed" style="width:100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>Student Name</th>
                <th>Exams</th>
                <th>Class Name</th>
                <th>Roll Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{int SL = 1;
            foreach(StudentModel item in Model.ListOfStudentModel)
                {
                <tr>
                    <td>@SL</td>
                    <td>@item.StudentName</td>
                    <td>@item.ExamName</td>
                    <td>@item.ClassName</td>
                    <td>@item.RollNumber</td>
                    <td><button name="details" class="btn btn-info" onclick='StudentMarks(@item.StudentId,this)'>Display Details</button></td>

             
                </tr>
                    SL = SL + 1;

                }
            }
        </tbody>
    </table>
</fieldset>

<fieldset>
    <legend id="StudentMarkSheet">Marks Details</legend>
    <div id="divStudentMarks">

    </div>
</fieldset>